@import "tailwindcss";

@theme {

  /* Colors */
  --color-success: #16A34A;
  --color-error: #DC2626;


  /* Screens */
  --breakpoint-xxs: 0px;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-msm: 540px;
  --breakpoint-lsm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Shadow */
  --shadow-3xl: 3px 0px 15px rgba(235, 249, 243, 0.8);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}